@font-face {
  font-family: "Gothic";
  src: url(/fonts/GothicA1-Regular.ttf);
}
@font-face {
  font-family: "Gothic-2";
  src: url(/fonts/GothicA1-Light.ttf);
}

@font-face {
  font-family: "Gothic-3";
  src: url(/fonts/GothicA1-SemiBold.ttf);
}

/* Transitions */
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

body {
  margin: 0;
  padding: 0;
  height: fit-content;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8vh;
  animation: transitionIn 0.8s;
}
/* Hamburger menu inspiration from: 
https://alvarotrigo.com/blog/hamburger-menu-css/ and 
https://codepen.io/alvarotrigo/pen/yLzaPVJ */

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

.menu__btn {
  position: absolute;
  top: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
  margin-left: 81%;
  right: 25px;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: relative;
  top: -18px;
  left: -370%;
  width: 207px;
  height: 149px;
  margin: 0;
  padding: 71px 0;
  list-style: none;
  background-color: white;
  box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
  /* transition-duration: .25s; */
  margin-left: -1%;
  padding-top: 1%;
  z-index: 1;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-weight: 600;
  text-decoration: none;
  /* transition-duration: .0s; */
}
.menu__item:hover {
  background-color: #cfd8dc;
}

/* Hamburger menu end */

.tour_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -9%;
  line-height: 1%;
  font-size: 6vw;
  font-family: "Gothic";
  animation: transitionIn 0.8s;
}

.tour_header_info {
  white-space: pre-line;
  margin-top: -14%;
  padding-left: 21%;
  font-size: 3vw;
  padding-top: 2%;
  font-family: "Gothic-2";
  animation: transitionIn 0.8s;
}

.tour_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: transitionIn 0.8s;
}

.tour_robotics_and_ai {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -4%;
  animation: transitionIn 0.8s;
}

.robotics_ai_img {
  width: 36%;
  border: 1px solid #000000;
  border-radius: 85px;
  animation: transitionIn 0.8s;
}

.robotics_and_ai_info {
  white-space: pre-line;
  font-size: 3vw;
  padding-left: 21%;
  margin: 0;
  padding-bottom: 4%;
  font-family: "Gothic-2";
  animation: transitionIn 0.8s;
}

.robotics_ai_title {
  margin: 3px;
  font-size: 5vw;
  font-family: "Gothic-3";
  animation: transitionIn 0.8s;
}

.tour_ecology {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gothic-3";
  animation: transitionIn 0.8s;
}

.ecology_img {
  width: 36%;
  border: 1px solid #000000;
  border-radius: 85px;
  animation: transitionIn 0.8s;
}

.ecology {
  margin: 3px;
  font-size: 5vw;
  animation: transitionIn 0.8s;
}

.ecology_info {
  white-space: pre-line;
  font-size: 3vw;
  padding-left: 21%;
  margin: 0;
  padding-bottom: 4%;
  font-family: "Gothic-2";
  animation: transitionIn 0.8s;
}

.tour_science_lab {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: transitionIn 0.8s;
}

.science_lab_img {
  width: 36%;
  border: 1px solid #000000;
  border-radius: 85px;
  animation: transitionIn 0.8s;
}

.science_lab {
  margin: 3px;
  font-size: 5vw;
  font-family: "Gothic-3";
  animation: transitionIn 0.8s;
}

.science_lab_info {
  white-space: pre-line;
  font-size: 3vw;
  padding-left: 21%;
  margin: 0;
  padding-bottom: 4%;
  font-family: "Gothic-2";
  animation: transitionIn 0.8s;
}

label {
  display: block;
  font-size: 3vw;
  padding-left: 2%;
  padding-bottom: 1%;
  margin-top: 1%;
  font-family: "Gothic-2";
  animation: transitionIn 0.8s;
}

input[type="text"] {
  border-radius: 299px;
  background-color: #ffffff;
  border: 1px solid #000000;
  height: 7vw;
  width: 44vw;
  animation: transitionIn 0.8s;
}

.dropdown_menu {
  width: 48%;
  border-radius: 4px;
  width: 48vw;
  animation: transitionIn 0.8s;
}

.date_time_info {
  white-space: pre-line;
  font-size: 3vw;
  margin-top: -3%;
  padding-left: 1%;
  animation: transitionIn 0.8s;
}

.welcome_page_button {
  font-size: 8px;
  background-color: #6979f8;
  border: none;
  color: white;
  padding: 4px;
  margin: 4px 2px;
  margin-top: -2%;
  border-radius: 3px;
  display: flex;
  font-size: 3vw;
  animation: transitionIn 0.8s;
}

.tour_img {
  width: 54%;
  animation: transitionIn 0.8s;
}

.tour_image_container {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: -73%;
  animation: transitionIn 0.8s;
}

.tour_booking_header {
  margin: 0%;
  padding-bottom: 1%;
  padding-left: 1%;
  font-size: 5vw;
  font-family: "Gothic";
  animation: transitionIn 0.8s;
}

.footer {
  background-color: #6979f8;
  color: white;
  height: auto;
  padding-top: 7%;
  font-size: 3.9vw;
  white-space: pre-wrap;
  margin-top: 34%;
  font-family: "Gothic-2";
  margin-left: -4%;
  animation: transitionIn 0.8s;
}

.footer a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: none;
}

/* Mobile View and Tablet view: (Responsive on: 320px, 375px, 425px, 768px). */

@media screen and (min-width: 768px) {
  .tour_header {
    font-size: 3vw;
    margin-top: -11%;
    margin-left: -5%;
  }

  header {
    height: 16vh;
  }

  .hamburger-menu {
    display: none;
  }

  .tour_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -11%;
  }

  .tour_header_info {
    white-space: pre-line;
    margin-top: -8%;
    padding-left: 29%;
    font-size: 2vw;
    padding-top: 2%;
  }

  .robotics_and_ai_info {
    white-space: pre-line;
    font-size: 3vw;
    padding-left: -1%;
    margin: 0;
    padding-bottom: 4%;
    font-size: 1.4vw;
    margin-left: -5%;
  }

  .robotics_ai_title {
    margin: 3px;
    font-size: 5vw;
    font-size: 2.3vw;
  }

  .robotics_ai_img {
    width: 80%;
    border: 1px solid #000000;
    border-radius: 85px;
  }

  .ecology {
    margin: 3px;
    font-size: 5vw;
    font-size: 2.3vw;
  }

  .ecology_img {
    width: 80%;
    border: 1px solid #000000;
    border-radius: 85px;
  }

  .ecology_info {
    white-space: pre-line;
    font-size: 3vw;
    padding-left: 21%;
    margin: 0;
    padding-bottom: 4%;
    font-size: 1.4vw;
    margin-left: -2%;
  }

  .tour_ecology {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
  }

  .science_lab {
    margin: 3px;
    font-size: 5vw;
    font-size: 2.3vw;
  }

  .science_lab_img {
    width: 80%;
    border: 1px solid #000000;
    border-radius: 85px;
  }

  .science_lab_info {
    white-space: pre-line;
    font-size: 3vw;
    padding-left: 21%;
    margin: 0;
    padding-bottom: 4%;
    font-size: 1.4vw;
    margin-left: 1%;
  }
  .tour_science_lab {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2%;
  }

  .tour_booking_header {
    margin: 0%;
    padding-bottom: 1%;
    padding-left: 1%;
    font-size: 5vw;
    font-size: 3vw;
  }

  label {
    display: block;
    font-size: 2vw;
    padding-left: 2%;
    padding-bottom: 1%;
    margin-top: 1%;
  }

  .dropdown_menu {
    width: 48%;
    border-radius: 4px;
    width: 48vw;
    height: 4vw;
  }

  .contact_form {
    margin-top: 31%;
  }

  .footer {
    background-color: #6979f8;
    color: white;
    height: auto;
    padding-top: 7%;
    font-size: 2vw;
    white-space: pre-wrap;
    padding-left: 22%;
  }

  .navbar {
    display: flex;
    list-style: none;
    flex-direction: row;
    white-space: pre-wrap;
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    color: black;
  }

  a:hover {
    color: rgb(110, 110, 242);
  }

  .footer a {
    text-decoration: none;
    color: white;
  }
}

/* Laptop and Desktop View (1024px, 1440px) */
@media screen and (min-width: 1024px) {
  .tour_header {
    font-size: 3vw;
    margin-top: -9%;
    margin-left: -5%;
  }

  .tour_booking_header {
    margin: 0%;
    padding-bottom: 1%;
    padding-left: 1.6%;
    font-size: 5vw;
    font-size: 2vw;
  }

  input[type="text"] {
    border-radius: 299px;
    background-color: #ffffff;
    border: 1px solid #000000;
    height: 4vw;
    width: 32vw;
  }

  .date_time_info {
    white-space: pre-line;
    font-size: 1.7vw;
    margin-top: -3%;
    padding-left: 0%;
    padding-bottom: 1%;
    padding-top: 1%;
    font-family: "Gothic-2";
  }

  .tour_image_container {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: -55%;
  }

  .footer {
    background-color: #6979f8;
    color: white;
    height: auto;
    padding-top: 7%;
    font-size: 2vw;
    white-space: pre-wrap;
    padding-left: 22%;
    margin-top: 20%;
  }

  .contact_form {
    margin-top: 22%;
  }
}
